@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "edit";
@import "form";

// Normalizing styles
dl {
  margin: 0;
}

// Apply bootstrap globally
input, textarea {
  @extend .form-control;
}

#app {
  @extend .container;
}

#create-new-button {
  @extend .btn;
  @extend .btn-success;
}

.block-table-wrapper {
  @extend .table-responsive;
}

.content-block-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
  width: 100%;
  margin-top: 8px;
}

.block-actions {
  @extend .list-unstyled;
  margin: 0;
  li {
    display: inline-block;
  }
}

.edit-block-button {
  @extend .btn;
  @extend .btn-default;
}

.duplicate-block-button {
  @extend .btn;
  @extend .btn-default;
}

.delete-block-button {
  @extend .btn;
  @extend .btn-danger;
}

.preview-block-button {
  @extend .btn;
  @extend .btn-success;
}

